/* GENERAL STYLE */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #35393e;
  color: #F2EFEA;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* FONTS */
.roboto-header {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
